.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;

}

.inputWrapper {
  margin-bottom: 4px;
}

.label {
    margin-bottom: 10px;
}

.form {
  border: 1px solid #242424;
  margin: 12px;
  padding: 14px;
  border-radius: 8px;
}

.input {
  max-width: 400px;
  padding: 8px 12px;
  font-size: 18px;
  border: 1px solid #242424;
  border-radius: 8px;
  background-color: white;
  color: #242424;
}

.input:focus {
  outline: none;
}

.error {
  color: rgb(250, 54, 54);
}

.input:hover,
.input:focus {
  border-color: blue;
}

.btnWrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

